<div class="alert alert-{{mensaje.type}}" *ngIf="mensaje.mostrar">{{mensaje.texto}}</div> 
<a class="btn btn-primary" (click)="logout()">Cerrar sesión</a>
<p>Si no quiere modificar un parametro dejelo en 0</p>
<form (ngSubmit)='onSubmit()' ngNativeValidate>
    <div class="form-group">
        <label for="inputvelocidadtarjetagrafica">Velocidad T. Grafica</label>
        <input type="number" min="0" max="99999" class="form-control" required name="inputvelocidadtarjetagrafica"
            [(ngModel)]="configuracion.velocidadtarjetagrafica">
    </div>
    <div class="form-group">
        <label for="inputmemoriatarjetagrafica">Memoria T. Grafica</label>
        <input type="number" min="0" max="99999" class="form-control" required name="inputmemoriatarjetagrafica"
            [(ngModel)]="configuracion.memoriatarjetagrafica">
    </div>
    <a class="btn btn-primary" [routerLink]="['/catalogo']">Volver</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>